*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#00aaff,#00FF6c);
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0px 0px 20px 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}
.container{
    
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container input{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center
}

button{
    font-size: 20px;
    margin: 15px;

}

p{
    font-size: 30px;
    font-weight: bold ;
}

